conf/resources/xml/lecture.dtd

<!ELEMENT lecture (lecturer+, dates+, student+)>

<!ELEMENT lecturer (name)>
<!ATTLIST lecturer title CDATA #REQUIRED>

<!ELEMENT date (hours)>
<!ATTLIST date weekay (mon | tue | wed | thu | fri | sat | sun)>

<!ELEMENT student (name)>
<!ATTLIST student matrikel CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ELEMENT hours (#PCDATA)>